@import "gulah00/css/reset.css";
@import "gulah00/css/variables.css";

@import "gulah00/css/status-bar.css";
@import "gulah00/css/user-component.css";
@import "gulah00/css/nav-bar.css";
@import "gulah00/css/screen-header.css";
@import "gulah00/css/login.css";
@import "gulah00/css/friends-name-display.css";
@import "gulah00/css/chats.css";
@import "gulah00/css/find.css";
@import "gulah00/css/icon-row.css";
@import "gulah00/css/more.css";
@import "gulah00/css/alt-screen-header.css";
@import "gulah00/css/settings.css";
@import "gulah00/css/chat.css";
@import "gulah00/css/no-mobile.css";

* {
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    color: #2E363E;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.main-screen {
    padding: 0px 25px;
}
